<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="st.brothas.mtgoxwidget"
      android:versionCode="13" android:versionName="1.0.0">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="19"/>
    <!-- If the below is required="true" only some 500+ devices are supported instead of 4700+. -->
    <uses-feature android:name="android.software.app_widgets" android:required="false" />

    <application android:icon="@drawable/bc_logo_60" android:label="@string/app_name">

        <receiver android:name=".MtGoxWidgetProvider">
            <meta-data android:name="android.appwidget.provider"
                    android:resource="@xml/appwidget_provider" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <activity android:name=".GraphPopupActivity"
                android:theme="@style/Theme.Base.AppCompat"
                android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
                android:name=".MtGoxPreferencesActivity"
                android:label="Preferences">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

    </application>
</manifest> 